<!DOCTYPE html>
<html>

<head>
    <title>Smart Home Devices</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
</head>

<body>
    <h1>Smart Home Devices</h1>
    <form id="loginForm">
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    <div class="table-container">
        <table id="devicesTable">
            <thead>
                <tr>
                    <th>Device</th>
                    <th>Status</th>
                    <th>Battery Percentage</th>
                    <th>UUID</th>
                    <th>Firmware Version</th>
                    <th>Last Seen</th>
                </tr>
            </thead>
            <tbody>
                <!-- Devices will be dynamically inserted here -->
            </tbody>
        </table>
    </div>
</body>

</html>